<!DOCTYPE html>
<html lang="nl">
<head>
	<meta charset="UTF-8">
	<title>Dashboard FitScheme</title>
	<%- include("partials/head") %>
</head>
<body>
	<%- include("partials/nav") %>
	<main>
		<h2>Calender</h2>
	</main>
</body>
</html>